* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}


/************  Nav bar *******************/
.navbar {
  padding: 0 100px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

.nav_list {
  width: 100%;
  height: 100%;
  margin: 10px 0 0 ;
  padding: 0 5px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.nav_list > .logo {
  font-family: 'Montserrat', sans-serif;
  width: 50%;
  font-size: 2rem;
  color: rgb(76, 76, 235);
  font-weight: 900;
}

.nav_list > .logo > span {
  background: rgb(76, 76, 235);
  color: white;
  border-radius: 4px;
  padding: 0 5px;
}

.nav_list > .items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav_list > .items > span {
  margin-top: 5px;
  font-size: 13px;
  color: rgb(116, 116, 116);
}

.nav_list > .items-n {
  padding-right: 30px;
  border-right: solid rgb(116, 116, 116) 1.5px;
}

.nav_list > .btn {
  font-weight: 540;
  padding: 12px 18px;
  border-radius: 30px;
}

.nav_list > .btn:hover {
  background-color: rgb(243, 243, 243);
}

.nav_list > .btn-sign {
  color: rgb(76, 76, 235);
  font-weight: 540;
  padding: 12px 18px;
  border-radius: 30px;
  border: solid rgb(76, 76, 235) 1.5px;
}

.nav_list > .btn-sign:hover {
  background-color: rgb(244, 255, 255);
}

.nav_list_item {
  cursor: pointer;
}


/************  Hero section *******************/
.hero {
  height: 90vh;
  display: flex;
  padding: 50px 0 0;
  overflow-x: hidden;
  box-sizing: border-box;

}

.hero_img {
  margin-left: auto;
  margin-right: -6%;
}

.hero_content {
  padding: 20px 0 0 100px;
}

.hero_head {
  color: #8f5849;
  font-size: 3.5rem;
  font-weight: 50;
}

.hero_form {
  margin-top: 20px;
  width: 60%;
}

.hero_form > input {
  width: 100%;
  height: 25px;
  font-size: 18px;
  font-weight: lighter;
  padding: 10px;
  margin: 5px 0;
}

.hero_form > input:focus {
  outline: 1px solid rgb(76, 76, 235);
}

.form_t-c {
  font-size: 15px;
  line-height: 20px;
  margin: 15px 0;
  color: rgb(116, 116, 116);
}

.form_t-c > a {
  text-decoration: none;
}

.hero_form > button {
  width: 105%;
  color: white;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 50px;
  background-color: rgb(76, 76, 235);
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.form_alter {
  position: relative;
  width: 63%;
  margin-top: 25px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  color: rgb(116, 116, 116);

}
.form_alter:before, .form_alter:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 47%;
  height: 1px;
  content: '\a0';
  background-color: rgb(116, 116, 116);
}
.form_alter:before {
  margin-left: -50%;
  text-align: right;
}

.form_login {
  margin-top: 20px;
  color: rgb(116, 116, 116);
}

.form_login > a {
  text-decoration: none;
}